body {
  
/*   background: linear-gradient(to right, #575A67, grey, #575A67); */
/*   background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px; */
  background-image: url("http://bgfons.com/upload/grass_texture241.jpg");
  
  font-family: 'Titillium Web', sans-serif;  
  color: black;
   
  
}

button.fifa {
  background: radial-gradient(#DBBF1A, #B29D21);
  border-style: solid, black;
  border-width: 5px;
  
  color: #04104B;
  float: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  position: relative; 
  
  top: 380px;
  
  
}


.custom3{
  float: center;
  position: relative; 
  top: 100px;
  left: 150px;
  transform: rotate(-10deg);
  
  
}
.custom4{
  float: center;
  position: relative; 
  top: -221px;
  right: 150px;
  transform: rotate(10deg);
  
}
.custom1{
  float: left;
  position: relative; 
  top: -30px;
  transform: rotate(15deg);
  left: 150px;
}
.custom2{
  float: right;
  position: relative; 
  top: -30px;
  transform: rotate(-15deg);
  right: 150px;
}
.left {
  position: relative;
  left: 100px;
  top: 119px;

  
}
.right {
  position: relative;
  right: 100px;
  top: -119px;
  
}

@import url(http://fonts.googleapis.com/css?family=Nunito:300);

a    { text-decoration: none; }
p    { text-align: center; }
sup  { font-size: 36px; font-weight: 100; line-height: 55px; }

.button
{
  font-family: "Nunito", sans-serif; font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #00A1CC;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  
  margin: 5em auto;
  
  position: absolute; 
  top:0; right:0; bottom:0; left:0;
  
  padding: 20px 0;
  width: 220px;
  height:30px;

  background: #00A1CC;
  border: 1px solid #00A1CC;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-135deg);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}

 #rankings{
   padding-right: 240px;
   padding-left: 240px;
   padding-top: 30px;
 margin-bottom: -18px;

    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;

  

} 








