<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "css/style.css" >
  </head>
  <body>
    <form  method="POST" action="/card">
      <center><h3><label for="name">Name</label></h3></center>
      <center><input id="name" name="name" type="text" placeholder ="Name" maxlength="17" value="Your Name"></center>
      <br>
      <center><h3><label for="position">Position</label></h3></center>
      <center><select id="position" name="position">
        <option value="GK">GK</option>
        <option value="RWD">RWB</option>
        <option value="RB">RB</option>
        <option value="CB">CB</option>
        <option value="LB">LB</option>
        <option value="LWB">LWB</option>
        <option value="RM">RM</option>
        <option value="CDM">CDM</option>
        <option value="CM">CM</option>
        <option value="CAM">CAM</option>
        <option value="LM">LM</option>
        <option value="RW">RW</option>
        <option value="RF">RF</option>
        <option value="CF">CF</option>
        <option value="ST">ST</option>
        <option value="LF">LF</option>
        <option value="LW">LW</option>
      </select></center>
      
      
      
      
      
      
      
       <center><h3><label for="image">Image Url</label></h3></center>
      <center><input id="image" name="image" type="text" placeholder ="Image Url" value="http://i.imgur.com/d5rV0oS.png"></center>
            <div class = "custom1"> 
      
      <img  src ="http://wefut.com/assets/images/fut15/gold6.png" height="240px" width = "180px">
      <center><h2>Special Edition</h2></center>
    </div>
    <div class = "custom2"> 
      
      <img  src ="http://wefut.com/assets/images/fut14/silver3.png" height="240px" width = "180px">
      <center><h2>TOTW Silver</h2></center>
    </div>
      
      
      
      
     
      
      <center><h3><label class ="left" for="pace">Pace</label></h3></center>
      <center><input class ="left" id="pace" name="pace" type="number" min="1" max="99" placeholder="PAC" value="67"></center>
      
      <center><h3><label class ="left" for="shooting">Shooting</label></h3></center>
      <center><input class ="left" id="shooting" name="shooting" type="number" min="1" max="99" placeholder="SHO" value="67"></center>
      

      <center><h3><label class ="left" for="physicality">Physical</label></h3></center>
      <center><input class ="left" id="physicality" name="physicality" type="number" min="1" max="99" placeholder= "PHY" value="67"></center>
      
  
      <center><h3><label class ="right" for="dribbling" >Dribbling</label></h3></center>
      <center><input class ="right" id="dribbling" name="dribbling" type="number" min="1" max="99" placeholder= "DRI" value="67"></center>
      
      <center><h3><label class ="right" for="passing">Passing</label></h3></center>
      <center><input class ="right" id="passing" name="passing" type="number" min="1" max="99" placeholder= "PAS" value="67"></center>
      
      <center><h3><label class ="right" for="defending">Defending</label></h3></center>
      <center><input class ="right" id="defending" name="defending" type="number" min="1" max="99" placeholder= "DEF" value="67"></center>
      <div class = "custom1"> 
      
      <img  src ="http://wefut.com/assets/images/fut15/gold8.png" height="240px" width = "180px">
      <center><h2>Man of the Match</h2></center>
    </div>
    <div class = "custom2"> 
      
      <img  src ="http://wefut.com/assets/images/fut14/gold7.png" height="240px" width = "180px">
      <center><h2>Green Card</h2></center>
    </div>
      
      <center><h3><label for="flag">Country</label></h3></center>
      <center><select id="flag" name="flag">
        <option value="http://wefut.com/assets/images/nation_flag/45.jpg">Spain</option>
        <option value="http://wefut.com/assets/images/nation_flag/95.jpg">United States</option>
        <option value="http://wefut.com/assets/images/nation_flag/21.jpg">Germany</option>
        <option value="http://wefut.com/assets/images/nation_flag/52.jpg">Argentina</option>
        <option value="http://wefut.com/assets/images/nation_flag/14.jpg">England</option>
        <option value="http://wefut.com/assets/images/nation_flag/38.jpg">Portugal</option>
        <option value="http://wefut.com/assets/images/nation_flag/54.jpg">Brazil</option>
        <option value="http://wefut.com/assets/images/nation_flag/27.jpg">Italy</option>
        <option value="http://wefut.com/assets/images/nation_flag/163.jpg">Japan</option>
        <option value="http://wefut.com/assets/images/nation_flag/83.jpg">Mexico</option>
        <option value="http://wefut.com/assets/images/nation_flag/93.jpg">Trinidad & Tobago</option>
        <option value="http://wefut.com/assets/images/nation_flag/47.jpg">Switzerland</option>
      </select></center>
      <br>
      <center><h3><label for="club">Club</label></h3></center>
      <center><select id= "club" name="club">
        <option value="http://wefut.com/assets/images/fut15/clubbadges/22.png">Borussia Dortmund</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/5.png">Chelsea</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/11.png">Manchester United</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/10.png">Mancester City</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/9.png ">Liverpool</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/45.png">Juventus</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/1.png">Arsenal</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/175.png">Vfl Wolfburg</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/18.png">Tottenham Hotspurs</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/243.png">Real Madrid</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/21.png">Bayern Munich</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/241.png">Barcelona</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/47.png">AC Milan</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/112828.png">NYCFC</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/689.png">NY Red Bulls</option>
        <option value="http://wefut.com/assets/images/fut15/clubbadges/48.png">Napoli</option>
        
      </select></center>
      <br>
      <center><h3><label for="card">Card Type</label></h3></center>
      <center><select id= "card" name="card">
        <optgroup label="Fifa 15 Styles">
          <option value="http://wefut.com/assets/images/fut15/gold1.png">Gold Rare</option>
          <option value="http://wefut.com/assets/images/fut15/gold0.png">Gold</option>
          <option value="http://wefut.com/assets/images/fut15/silver1.png">Silver Rare</option>
          <option value="http://wefut.com/assets/images/fut15/silver0.png">Silver</option>
          <option value="http://wefut.com/assets/images/fut15/bronze1.png">Bronze Rare</option>
          <option value="http://wefut.com/assets/images/fut15/bronze0.png">Bronze</option>
          <option value="http://wefut.com/assets/images/fut15/gold5.png">TOTY</option>
          <option value="http://wefut.com/assets/images/fut15/gold6.png">Special Edition</option>
          <option value="http://wefut.com/assets/images/fut15/gold11.png">TOTS Gold</option>
          <option value="http://wefut.com/assets/images/fut15/silver11.png">TOTS Silver</option>
          <option value="http://wefut.com/assets/images/fut15/bronze11.png">TOTS Bronze</option>
          <option value="http://wefut.com/assets/images/fut15/gold3.png">TOTW Gold</option>
          <option value="http://wefut.com/assets/images/fut15/silver3.png">TOTW Silver</option>
          <option value="http://wefut.com/assets/images/fut15/bronze3.png">TOTW Bronze</option>
          <option value="http://wefut.com/assets/images/fut15/gold12.png">Legend</option>
          <option value="http://wefut.com/assets/images/fut15/gold8.png">Man of the Match</option>
          <option value="http://wefut.com/assets/images/fut15/gold7.png">Green Card</option>
        </optgroup>
        <optgroup label="Fifa 14 Styles">
          <option value="http://wefut.com/assets/images/fut14/gold1.png">Gold Rare</option>
          <option value="http://wefut.com/assets/images/fut14/gold0.png">Gold</option>
          <option value="http://wefut.com/assets/images/fut14/silver1.png">Silver Rare</option>
          <option value="http://wefut.com/assets/images/fut14/silver0.png">Silver</option>
          <option value="http://wefut.com/assets/images/fut14/bronze1.png">Bronze Rare</option>
          <option value="http://wefut.com/assets/images/fut14/bronze0.png">Bronze</option>
          <option value="http://wefut.com/assets/images/fut14/gold5.png">TOTY</option>
          <option value="http://wefut.com/assets/images/fut14/gold6.png">Special Edition</option>
          <option value="http://wefut.com/assets/images/fut14/gold11.png">TOTS Gold</option>
          <option value="http://wefut.com/assets/images/fut14/silver11.png">TOTS Silver</option>
          <option value="http://wefut.com/assets/images/fut14/bronze11.png">TOTS Bronze</option>
          <option value="http://wefut.com/assets/images/fut14/gold3.png">TOTW Gold</option>
          <option value="http://wefut.com/assets/images/fut14/silver3.png">TOTW Silver</option>
          <option value="http://wefut.com/assets/images/fut14/bronze3.png">TOTW Bronze</option>
          <option value="http://wefut.com/assets/images/fut14/gold12.png">Legend</option>
          <option value="http://wefut.com/assets/images/fut14/gold8.png">Man of the Match</option>
          <option value="http://wefut.com/assets/images/fut14/gold7.png">Green Card</option>
        </optgroup>
        
      </select></center>
      <br>
      <center><input type="submit"></center>
             
    </form>
  </body>