<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "css/style.css" >
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
    <title>Fifa Card Generator</title>
  </head>
  <body>

    <center><h1 class = "title">Fifa Card Generator</h1></center>

    <center><h3>By Griffin, Jared, and Jason</h3></center>
    
    <a href="/form" class="button" >
  <span>Make Card</span>
</a>
    
    <div class = "custom1"> 
      
      <img  src ="http://i.imgur.com/1E7BO32.png" height ="250px" width = "187.5px">
      <center><h2>TOTS Gold</h2></center>
    </div>
    <div class = "custom2"> 
      
      <img  src ="http://i.imgur.com/quMCLoA.png" height ="250px" width = "187.5px">
      <center><h2>TOTS Gold</h2></center>
    </div>
    <div class = "custom3">
      <center><img  src ="http://i.imgur.com/C36etab.png" height ="250px" width = "187.5px"></center>
      <center><h2>Gold Rare</h2></center>
    </div>
    <div class = "custom4">
      <center><img  src ="http://i.imgur.com/zz5c3Jw.png" height ="250px" width = "187.5px"></center>
      <center><h2>Gold Rare</h2></center>
    </div>
    <footer align="right"><h4>© Griffin, Jared, and Jason</h4></footer>
    
    
      
      
      
      
      
      
  </body>
</html>

    